<div class="container">

    <br>
    <div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" (click)="onNew()">
              Novo Cliente
            </button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>

                    <th>Nome</th>

                    <th>Sobrenome</th>

                    <th>CPF</th>

                    <th></th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let registration of registrations; let i = index">
                    <th scope="row">{{ i + 1 }}</th>

                    <td>{{ registration.firstName }}</td>

                    <td>{{ registration.lastName }}</td>

                    <td>
                        {{ registration.cpf }}</td>

                    <td>
                        <button type="button" class="btn btn-info" (click)="onEdit(i)">
              Editar
            </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger" (click)="onDelete(i)">
              Excluir
            </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">
        New
      </button>
    </div> -->
    </div>
    <div class="regentry" *ngIf="showNew">
        <form (ngSubmit)="onSave()">
            <div class="form-group row">
                <label for="firstname-input" class="col-2 col-form-label">Nome</label
        >

        <div class="col-10">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="regModel.firstName"
            name="firstName"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname-input" class="col-2 col-form-label"
          >Sobrenome</label
        >

        <div class="col-10">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="regModel.lastName"
            name="lastName"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label"
            >CPF</label
          >
  
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="regModel.cpf"
              name="lastName"
            />
          </div>
        </div></div>


            <button type="submit" class="btn btn-success">{{ submitType }}</button>

            <button type="submit" class="btn btn-primary" (click)="onCancel()">
        Cancel
      </button>
        </form>
    </div>

    <br />
</div>