<div class="register-form">
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" />
        </div>
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
            <div *ngIf="f['fullname'].errors['required']">o campo nome é obrigatório</div>

        </div>

        <div class="form-group">
            <label>Sobrenome</label>
            <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" />
            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                <div *ngIf="f['lastname'].errors['required']">o campo sobrenome é obrigatório</div>
            </div>
        </div>

        <div class="form-group ">
            <label>CPF</label>
            <input type="text" formControlName="cpf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['cpf'].errors }" />
            <div *ngIf="submitted && f['cpf'].errors" class="invalid-feedback">
                <div *ngIf="f['cpf'].errors['required']">o campo cpf é obrigatório</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="button" (click)="onCancel()" class="btn btn-warning float-right">
        Voltar
      </button>
        </div>
    </form>
</div>
