<div class="regentry">

    <form (ngSubmit)="onSave()">
        <div class="form-group row">
            <label for="firstname-input" class="col-2 col-form-label">Nome</label
    >

    <div class="col-10">
      <input
        class="form-control"
        type="text"
        [(ngModel)]="regModel.name"
        name="firstName"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="lastname-input" class="col-2 col-form-label"
      >Sobrenome</label
    >

    <div class="col-10">
      <input
        class="form-control"
        type="text"
        [(ngModel)]="regModel.sobrenome"
        name="lastName"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group row">
      <label for="cpf-input" class="col-2 col-form-label"
        >CPF</label
      >

      <div class="col-10">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="regModel.cpf"
          name="cpf"
        />
      </div>
    </div></div>


        <button type="submit" class="btn btn-success" >Salvar</button>

        <button type="submit" class="btn btn-primary" (click)="onCancel()">
    Cancel
  </button>
    </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>