<div class="search-form">
    <form [formGroup]="formSearch" (ngSubmit)="searchClient(cpf)">
        <div class="form-group">
            <label>Informe o CPF do Cliente:</label>
            <input type="text" formControlName="cpfClient" class="form-control" [ngClass]="{ 'is-invalid': f['cpfClient'].errors }" />
        </div>
        <div *ngIf=" f['cpfClient'].errors" class="invalid-feedback">
            <div *ngIf="f['cpfClient'].errors['required']">o campo cpf é obrigatório</div>

        </div>

        <div class="form-group">
            <button type="submit" class=" btn btn-primary ">Buscar</button>
        </div>
    </form>
</div>

<div *ngIf="name" class="container ">
    <div class="row ">
        <div class="col-sm ">
            Nome: {{name}}
        </div>
        <div class="col-sm ">
            CPF: {{cpf}}
        </div>
    </div>

    Selecione Os Produtos:
    <br>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id Produto</th>
                            <th scope="col">Nome Do Produto</th>
                            <th scope="col">Quantidade</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registration of registrations; let i = index">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input [checked]="registration.isSelected" type="checkbox" (change)="getCheckbox(registration.id)" class="custom-control-input" [id]="registration.id">
                                    <label class="custom-control-label" [for]="registration.id">{{ registration.id }}</label>
                                </div>
                            </td>
                            <td>{{ registration.descricao }}</td>
                            <td><input type="number" *ngIf="registration.isSelected"></td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class=" btn btn-primary ">Enviar Lista</button>

            </div>
        </div>

    </div>
