<div class="search-form">
    <form [formGroup]="formSearch" (ngSubmit)="searchClient(cpf)">
        <div class="form-group">
            <label>Informe o CPF do Cliente:</label>
            <input type="text" formControlName="cpfClient" class="form-control" [ngClass]="{ 'is-invalid': f['cpfClient'].errors }" />
        </div>
        <div *ngIf=" f['cpfClient'].errors" class="invalid-feedback">
            <div *ngIf="f['cpfClient'].errors['required']">o campo cpf é obrigatório</div>

        </div>

        <div class="form-group">
            <button type="submit" (click)="searchClient(cpf)" class=" btn btn-primary ">Buscar</button>
        </div>
    </form>
</div>

<div *ngIf="name" class="container ">
    <div class="row ">
        <div class="col-sm ">
            Nome: {{name}}
        </div>
        <div class="col-sm ">
            CPF: {{cpf}}
        </div>
    </div>

    Selecione Os Produtos:
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let registration of registrations; let i = index">
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                </td>
                <td>{{ registration.id }}</td>
                <td>{{ registration.descricao }}</td>
            </tr>
        </tbody>
    </table>

</div>
