<form>
    <div class="form-group">
        <div class="form-group row">
            <label for="cpf-input" class="col-2 col-form-label">Informe o CPF do Cliente:</label>
            <div class="col-2">
                <input placeholder="000.000.000-00" mask="CPF_CNPJ" class="form-control" type="text" name="cpf" maxlength="14" />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</form>